.vertical-tabs {
    display: flex;
    align-items: flex-start;
  }
  
  .tab-list {
    display: flex;
    flex-direction: column;
  }
  
  .tab-list .react-tabs__tab {
    margin-bottom: 10px; 
  }
  
  .tab-panels {
    margin-left: 20px; 
  }
  